.css-13cymwt-control{
    background-color: #F7F7F7 !important;
    border-width: 0px !important;
    border-color: grey !important;
}

.css-t3ipsp-control{
    border-width: 0px !important;
    border-color: none !important;
}

.css-13cymwt-control:hover{
    border-width: 0px !important;  
    border-color: grey !important;
}


.css-13cymwt-control:hover{
    border: 0px !important;
    border-width: 0px !important;  
    border-color: grey !important;
}